
*{
    box-sizing:border-box;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: aqua;
    padding: 15px 20px;
    border: 15px solid goldenrod;
    border-radius:4px ;
    margin: 10px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="phone number"],
input[type="roll number"],
input[type="sem"],
select {
    width: 100%;
    padding: 12px;
    border: 12px solid pink;
    border-radius:5px ;
}
input[type="submit"],
input[type="reset"] {
 background-color: blue;
 color: aliceblue;
 padding: 12px 20px;
 border: none;
 border-radius: 4px;
 cursor:pointer;
 text-align: center;
}

input[type="reset"]:hover {
 background-color: rgb(144, 174, 179);
 
}
input[type="submit"]:hover{
    background-color: rgb(144, 174, 179);
}