* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

header {
    padding: 40px;
    background-color: rgb(17, 124, 143);
}

nav {
    background-color: whitesmoke;
    text-decoration: none;
    padding : 20px;
    text-align: center 4c2b;
}

nav a {
    float: left;
    color: white;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(211, 201, 204);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;

}
textarea{
    color:blue;
}
article>h3{
    font-size:100px ;
    
}
section {
    font-size: larger;
    text-align:center;
    color: chocolate;
    text-shadow: 3px 1px 2px;
}
sub{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
   
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: auto;
    clip-path: circle(50% at 50% 50%);

  }
  .hello {
text-transform: capitalize;
  }
  * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background: rgba(0, 0, 0, 0.6) url('');
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 10px 20px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #ffd700;
    
}

.rightNav {
    text-align: right;
}

#search {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.btn {
    background-color: #ffd700;
    color: #000;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #000;
    
    color: #ffd700;
}

.logo{
    animation: wiggle 1s ease-in-out;

}

@keyframes wiggle {
    0%{
        transform: translateX();
        filter: opacity(5%);
    }
    100%{
        transform: translateX();
        opacity: 5%;
    }
